@{
    ViewBag.Title = "Inicio";

    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
}
 

<div class="jumbotron bg-white">
    <h1 class="display-4">Bienvenido a Excercise Assistant <img src="~/Content/img/logo.png" alt="Alternate Text" width="100"/></h1>
   
    <p class="lead">El ejercicio es una parte importante de un estilo de vida saludable. El ejercicio previene problemas de salud, aumenta la fuerza, aumenta la energía y puede ayudar a reducir el estrés.</p>
   
    <p class="lead">Nosotros de ayudaremos a tener un mejor control sobre tu ejercicio.</p>
    <p class="lead">
        
    </p>
</div>

<div class="row">

    @foreach (ExerciseAssiatant.Models.Post p in ViewBag.posts)
    {
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@p.ImgUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@p.Title</h5>
                    <p class="card-text">@p.Text</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
    }
  
    <script>$('.carousel').carousel()</script>
</div>
