div.main-title {
    /*font-family: 'Microsoft Himalaya';*/
}

body {
    /*min-height: 100%;*/
}

/*#container {
    height: 100vh;
}*/

#aside {
    /*background-image: url("img/junction-984045_1280.jpg");*/
    /*margin-left: 8px;*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/junction-984045_1280.jpg");
    background-position: center;
}

    #principal {
        margin: 0;
        padding: 0;
    }

.circle-img {
    height: 200px;
    width: 200px;
    background-image: url("img/sports-731506_1280.jpg");
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.list-group-item {
    background: inherit;    
    border-color: rgba(255, 255, 255, 0.4)
}
.bigicon {
    font-size: 35px;
    color: black;
}